<div class="animated fadeIn debtor-details">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Invoice <b>{{invoice.invoiceNumber}}</b>
        </div>
        <div class="card-body">
          <form [formGroup]="form" class="form-horizontal row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-2 col-form-label">Debtor</label>
                <div class="col-md-10">
                  <input class="form-control form-control-danger" formControlName="debtorId">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-4 col-form-label">Invoice No.</label>
                <div class="col-md-8">
                  <input class="form-control form-control-danger" formControlName="invoiceNumber">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-4 col-form-label">Invoice Date</label>
                <div class="col-md-8">
                  <input class="form-control form-control-danger" formControlName="invoiceDate">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-4 col-form-label">Invoice Amount</label>
                <div class="col-md-8">
                  <input class="form-control form-control-danger" formControlName="invoiceAmount">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-4 col-form-label">Outstanding Amount</label>
                <div class="col-md-8">
                  <input class="form-control form-control-danger" formControlName="outstandingAmount">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer right">
          <button class="btn btn-sm btn-primary btn-save" (click)="save()" [attr.disabled]="!form.valid ? '' : null">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
