<div class="animated fadeIn debtor">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div class="col-lg-6 search" >
            <div>Debtor</div>
            <input class="form-control form-control-danger">
            <i class="fa fa-search"></i>
            <i class="fa fa-plus"></i>
          </div>
          <div class="col-lg-3" style="text-align: right;">
            <button class="btn btn-sm btn-primary">Add invoice</button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-wrap">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>OverDue Amount</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let debtor of debtors" (click)="showInvoices(debtor)" [ngClass]="{'active': debtor === selectedDebtor}">
                <td>{{debtor.name}}</td>
                <td>{{debtor.email}}</td>
                <td>{{debtor.address}}</td>
                <td>{{debtor.mobileNumber}}</td>
                <td>${{debtor.overdueAmount}}</td>
                <td>{{debtor.status}}</td>
                <td>
                  <button class="btn btn-sm btn-primary" (click)="openDebtorDetails(debtor)">Edit</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Invoices of <b>{{selectedDebtor?.name}}</b>
        </div>
        <div class="card-body">
          <div class="table-wrap">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Invoice Amount</th>
                <th>Outstanding Amount</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let invoice of debtorInvoices">
                <td>{{invoice.invoiceNumber}}</td>
                <td>{{invoice.invoiceDate}}</td>
                <td>{{invoice.invoiceAmount}}</td>
                <td>{{invoice.outstandingAmount}}</td>
                <td>{{invoice.status}}</td>
                <td>
                  <button class="btn btn-sm btn-primary" (click)="openDebtorInvoiceDetails(invoice)">Edit</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

