.setting {
  .logo {
    width: 100%;
    height: auto;
    min-height: 200px;
    border: 1px solid #e1e6ef;
    input {
      width: 100%;
      min-height: 200px;
      opacity: 0;
      cursor: pointer;
    }
    img {
      max-width: 100%;
    }
  }
}
