.setting {
  .logo {
    width: 100%;
    height: auto;
    min-height: 200px;
    border: 1px solid #e1e6ef;
  }
  .right {
    text-align: right;
  }
  .btn-save {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
  }
}
