.setting {
  .logo {
    width: 100%;
    height: auto;
    min-height: 200px;
    border: 1px solid #e1e6ef;
    position: relative;
    img {
      max-width: 100%;
    }
  }
  .upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 5px;
    input[type=file] {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }
}
