<div class="animated fadeIn templates">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-wrap">
            <table class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th>Template Name</th>
                <th>Days Overdue</th>
                <th>Status</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr >
                <td>Kind Reminder</td>
                <td>30-60 days</td>
                <td>Active</td>
                <td>
                  <button class="btn btn-sm btn-primary">Edit</button>
                </td>
              </tr>
              <tr >
                <td>Warning Reminder</td>
                <td>60-90 days</td>
                <td></td>
                <td>
                  <button class="btn btn-sm btn-primary">Edit</button>
                </td>
              </tr>
              <tr >
                <td>Legal Warning</td>
                <td>90 days above</td>
                <td></td>
                <td>
                  <button class="btn btn-sm btn-primary">Edit</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Sample Of <span>[CC Template]</span>,</div>
        <div class="card-body">
          <form class="form-horizontal row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-1 col-form-label">
                  From:
                </label>
                <div class="col-md-5">
                  <textarea class="form-control form-control-danger" rows="2"></textarea>
                </div>
                <label class="col-md-1 col-form-label">
                  To:
                </label>
                <div class="col-md-5">
                  <textarea class="form-control form-control-danger" rows="2"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">
                  Customer Number:
                </label>
                <div class="col-md-3">
                  <div class="form-control right">[Debtor number]</div>
                </div>
                <label class="col-md-3 col-form-label">
                  Customer Name:
                </label>
                <div class="col-md-3">
                  <div class="form-control right">[Debtor Name]</div>
                </div>
              </div>
            </div>
          </form>
          <table class="table">
            <thead>
            <tr>
              <th>Invoice Number</th>
              <th>Invoice Date</th>
              <th>Invoice Amount</th>
              <th>Outstanding Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td>10001</td>
              <td>31-03-2017</td>
              <td>$1850.00</td>
              <td>$1850.00</td>
            </tr>
            <tr >
              <td>10001</td>
              <td>31-03-2017</td>
              <td>$1850.00</td>
              <td>$1850.00</td>
            </tr>
            </tbody>
          </table>
          <div class="form-group">
            A review of our records show that we are still awaiting setlement of the above account
            and it is assumed that this has been overlooked.
          </div>
          <div class="form-group">
            As non-payment now exceeds our credit terms it would be greatly appreciated if you
            would arrange to forward a cheque in setlement at the earliest opportunity.
          </div>
          <div class="form-group">
            Regards.
          </div>
          <div class="form-group">
            Credit Controller
          </div>
        </div>
        <div class="card-footer right">
          <button class="btn btn-sm btn-primary btn-save">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
